@model OPS2020.Models.Etape0Model

@{
    ViewData["Title"] = "Etape0";
}


<style>
    #targetUL1 {
        list-style: none;
        cursor: pointer;
    }

    #targetUL2 {
        list-style: none;
        cursor: pointer;
    }

    .list-group-item {
        list-style: none;
        cursor: pointer;
    }

    .right {
        float: right;
    }

    .rcorners {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: auto;
        height: auto;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">Recherche du produit de formation par son sigle ou par son libellé</div>
                <div class="card-body">
                    <div id="sigleDiv">
                        <label for="sigleTxtB">Recherche du terme figurant dans le sigle</label>
                        <input class="form-control" placeholder="Sigle" type="text" id="sigleTxtB" />
                    </div>
                    <br />
                    <div id="libelDiv">
                        <label for="libelTxtB">Recherche du terme figurant dans le libellé</label>
                        <input class="form-control" placeholder="Libellé" type="text" id="libelTxtB" />
                    </div>
                    <br />
                    <div class="form-group">
                        <input id="BtnNext" type="button" name="BtnNext" value="Choisir" class="btn btn-primary right" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div id="divProduitDetail">
                <div class="card">
                    <div class="card-header">Liste des produits de formation</div>
                    <div class="card-body">
                        <table id="listTable" class="table">
                        </table>
                        <div class="form-group">
                            <input id="BtnValider" type="button" name="BtnValider" value="Valider" class="btn btn-primary right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="listVide">Liste vide <form asp-controller="OPS" asp-action="Etape0" method="post"><input method="post" type="submit" value="Nouveau questionnaire" class="right" /></form> </div>
        <div id="divListQ" class="col">
            <div class="card">
                <div class="card-header"><div class="d-inline">Liste des questionnaires</div><form class="d-inline" asp-controller="OPS" asp-action="Etape0" method="post"><input method="post" type="submit" value="Nouveau questionnaire" class="right" /></form></div>
                <div class="card-body">
                    <table id="listQTable" class="table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="previewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aperçu du questionnaire</h4>
            </div>
            <div id="modalPreviewQuest" class="modal-body">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var C = console.log;
    var codeProduit = '';
    $(document).ready(function () {
        var produit = null;
        var model = null;
        var quest = null;
        $("#divListQ").hide();
        $("#divProduitDetail").hide();
        $("#listVide").hide();
        $("#BtnValider").click(function () {
            var query = codeProduit;
            GetListQuestionnaire(query);
            $("#listVide").hide();

        });
        $("#BtnNext").click(function () {

            var query = $("#sigleTxtB").val();
            if (query.length<2) {
                alert("Veuillez choisir une formation")
            }
            else {
                GetProduitFormation(query);
                $("#divProduitDetail").fadeIn(1500);
            }

        });
        $("#sigleTxtB").keyup(function () {
            query = $(this).val();
            if (LettreSeuleument(query)) {
                getSigles(query);
            }
            if ($("#targetUL1") != undefined) {
                $("#targetUL1").remove();
                $("#targetUL1").find("li").remove();
            }

        });
        function getSigles(query) {

            $.ajax({
                url: '@Url.Action("SigleProduitFormation","AutoComplete")',
                data: { "query": query },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.data != null) {
                        if ($("#targetUL1") != undefined) {
                            $("#targetUL1").remove();
                        }
                        data = response.data;

                        $("#sigleDiv").append($("<ul class='list-group' id='targetUL1'></ul>"));
                        $("#targetUL1").find("li").remove();
                        $.each(data, function (i, value) {
                            $("#targetUL1").append("<li class='list-group-item' onclick='javascript:appendTextToTextBox1(this)'>" + value + "</li>")
                        });
                    }
                    else {
                        $("#targetUL1").find("li").remove();
                        $("#targetUL1").remove();
                    }
                },
                error: function (xhr, status, error) {

                }


            });
        }
        $("#libelTxtB").keyup(function () {
           var query = $(this).val();
           if (LettreSeuleument(query)) {
               getLibel(query);
           }
           if ($("#targetUL2") != undefined) {
               $("#targetUL2").remove();
               $("#targetUL2").find("li").remove();
           }
        });
        function getLibel(query) {

            $.ajax({
                url: '@Url.Action("LibelleProduitFormation","AutoComplete")',
                data: { "query": query },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.data != null) {
                        if ($("#targetUL2") != undefined) {
                            $("#targetUL2").remove();
                        }
                        data = response.data;
                        $("#libelDiv").append($("<ul class='list-group' id='targetUL2'></ul>"));
                        $("#targetUL2").find("li").remove();
                        $.each(data, function (i, value) {
                            $("#targetUL2").append($("<li class='list-group-item' onclick='javascript:appendTextToTextBox2(this)'>" + value + "</li>"))
                        });
                    }
                    else {
                        $("#targetUL2").find("li").remove();
                        $("#targetUL2").remove();
                    }
                },
                error: function (xhr, status, error) {

                }


            });
        }
    function GetProduitFormation(query) {
        $.ajax({
                url: '@Url.Action("GetProduitFormation", "AutoComplete")',
                data: { "query": query },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.data != null) {
                        $("#listTable").find("tr").remove();
                        produit = response.data;
                        codeProduit = produit.codeProduitFormation;
                        $("#listTable").append($("<thead class='thead-light'><tr><th>Code produit</th ><th>Libellé long</th></thead></tr><tr><td>" + String(produit.codeProduitFormation) + "</td><td>" + produit.libelleProduitFormation + "</td></tr>"));

                    }
                    else {

                    }
                },
                error: function (xhr, status, error) {

                }
        });
    }


    });
    function getSigleByLibel(query) {
        $.ajax({
            url: '@Url.Action("SigleProduitFormationByLibelle", "AutoComplete")',
            data: { "query": query },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                data = String(response.data);

                $("#sigleTxtB").val(data);
            },
            error: function (xhr, status, error) {

            }
        });
    }
    function getLibelBySigle(query) {
        $.ajax({
            url: '@Url.Action("LibelleProduitFormationBySigle", "AutoComplete")',
            data: { "query": query },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                data = String(response.data);

                $("#libelTxtB").val(data);
            },
            error: function (xhr, status, error) {

            }
        });
    }
    function appendTextToTextBox1(e) {
        var textSelection = e.innerText;
        $("#sigleTxtB").val(textSelection);
        getLibelBySigle(textSelection);
        $("#targetUL1").remove();
    }
    function appendTextToTextBox2(e) {
        var textSelection = e.innerText;
        $("#libelTxtB").val(textSelection);
        getSigleByLibel(textSelection);
        $("#targetUL2").remove();
    }
    function LettreSeuleument(query = '') {
        var letters = /^[A-Za-z]+$/;
        if (query.match(letters)) {
            return true;
        }
        else {

            return false;
        }
    }
    function ExtraireIdQuestionnaire(Id = '') {

        if (Id.match(/(\d+)/)) {
            var code = '';
            code = Id.match(/(\d+)/);
            return code[0];
        }
        else {

            return false;
        }
    }
    function GetListQuestionnaire(query) {
         $.ajax({
                url: '@Url.Action("GetListQuestionnaire", "AutoComplete")',
                data: { "query": query },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.data.length!= 0) {
                        $("#listQTable").find("tr").remove();
                        $("#listQTable").find("thead").remove();
                        $("#listQTable").append($("<thead class='thead-light'><tr><th>Titre</th ><th>Description</th><th>Action</th></tr></thead>"));
                        data = response.data;
                        quest = response.data;
                        $.each(data, function (index, value) {
                            $("#listQTable").append($("<tbody><tr><td width='20%'>" +
                                value.titreQuestionnaire + "</td><td width='50%'>" +
                                value.description + "</td><td><nav class='navbar navbar-expand-lg navbar-light bg-light'>" +
                                "<a class='navbar-brand' href='#'></a>" +
                                "<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent" +
                                value.idQuestionnaire + "' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>" +
                                "<span class='navbar-toggler-icon'></span></button><div class='collapse navbar-collapse' id='navbarSupportedContent" +
                                value.idQuestionnaire + "'>" +
                                    "<ul class='navbar-nav mr-auto'>"+
                                "<li class='nav-item'>" +
                                "<a class= 'nav-link' href='#' onclick='GetQuestionnaire(" +
                                value.idQuestionnaire + "); return false;'> Modifier <span class='sr-only'>(current)</span></a>"+
                                        "</li>"+
                                    "<li class='nav-item'>" +
                                "<a class= 'nav-link' href='#' onclick='CopyQuestionnaire(" +
                                value.idQuestionnaire + "); return false;'>Copier</a>"+
                                    "</li>" +
                                    "<li class='nav-item'>"+
                                "<a class= 'nav-link' href='#' onclick='PreviewQuestionnaire(" +
                                value.idQuestionnaire + "); return false;'>Visualiser</a> "+
                                        "</li> "+
                                "<li class= 'nav-item'> "+
                                "<a class= 'nav-link' href='#' onclick='TestQuestionnaire(" +
                                value.idQuestionnaire + "); return false;'>Tester</a> "+
                                        "</li> "+
                                    "</ul> "+
                                "</div> "+
                                "</nav></td></tr></tbody>"));
                            $("#divListQ").fadeIn(1500);

                        });
                    }
                    else {
                        $("#listQTable").find("tr").remove();
                        $("#listQTable").find("thead").remove();
                        $("#divListQ").hide();
                        $("#listVide").fadeIn(1500);
                    }
                },
                error: function (xhr, status, error) {

                }
        });
        }
    function GetQuestionnaire(qId) {
        C(qId);
        $.ajax({
            url: '@Url.Action("GetQuestionnaireById", "OPS")',
            data: { "query": qId },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            error: function (xhr, status, error) {

            }
        });

    }
    function CopyQuestionnaire(qId) {
        C(qId);
        $.ajax({
            url: '@Url.Action("CopyQuestionnaireById", "OPS")',
            data: { "query": qId },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.data != null) {
                    $(document.body).ready(function () {
                        var query = codeProduit;
                        GetListQuestionnaire(query);
                    });
                }

            },
            error: function (xhr, status, error) {

            }
        });




    }
    function PreviewQuestionnaire(qId) {
        C(qId);
        $.ajax({
            url: '@Url.Action("PreviewQuestionnaireById", "OPS")',
            data: { "query": qId },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                C(response);
                data = String(response.data);
                C(data);
                $("#modalPreviewQuest").html(data);
                $("#previewModal").modal('show');
            },
            error: function (xhr, status, error) {

            }
        });

    }
    function TestQuestionnaire(qId) {
        $.ajax({
            url: '@Url.Action("GetQuestionnaireById", "OPS")',
            data: {
                "query": qId,
                "mode": "test"
            },
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            error: function (xhr, status, error) {

            }
        });
    }


</script>
