@model OPS2020.Models.GestionEnqueteModel
@{
    ViewData["Title"] = "GestionEnquete";
}

<h2>Nouvelle campagne de sondage : Choix de la formation</h2>

<div class="row">
    
    <div id="divListO">
        <div class="card">
            <div class="card-body">
                <table id="listOTable" class="table">
                    <thead class="thead-light">
                        <tr><th>ID Offre</th><th>Désignation</th><th>Date de fin</th><th colspan="4">Les enquêtes planifiées</th></tr>
                    </thead>
                    @foreach (var item in Model.OffreFormationModels)
                    {
                <tr>
                    <td> @item.CodeProduitFormation</td>
                    <td> @item.LibelleOffreFormation</td>
                    <td> @item.DateFinOffreFormation.ToString("dd. MM. yyyy")</td>
                    @if (item.CampagneMail.Count == 0)
                    {
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td><input type="button" id="choisirBtn" data-codeProduitFormation="@item.CodeProduitFormation" value="Choisir"/></td>
                    }
                    @foreach (var campagne in item.CampagneMail)
                    {
                        
                        @foreach (var plan in campagne.PlanificationCampagneMail.Reverse())
                        {
                            <td>@plan.DateRealisation.Value.Date.Day. @plan.DateRealisation.Value.Date.Month. @plan.DateRealisation.Value.Date.Year</td>

                        }
                        <td>Déjà Planifiée</td>
                    }

                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>






<script>
    var query = "96GB011";
    $(document.body).ready(function () {
       var C = console.log;
        $("#choisirBtn").click(function() {

            var codeProduitFormation = $("#choisirBtn").attr("data-codeProduitFormation");
            C(codeProduitFormation);
            $.ajax({
                url: '@Url.Action("GetListBeneficiaire", "OPS")',
                data: { "codeProduitFormation": codeProduitFormation },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.result == 'Redirect')
                        window.location = response.url;
                },
                error: function (xhr, status, error) {

                }
            })

        });
    });

</script>