@model OPS2020.Models.QuestionnaireModel

@{
    ViewData["Title"] = "Quest";
}


<style>
    .rotate {
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

    .questIntitule {
        width: 350px;
        overflow-x: scroll;
        overflow-x: hidden;
    }

    .rotate.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    ul {
        list-style-type: none;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="col-sm">
    <h1>@Model.CodeProduitFormation</h1>
    <div class="row justify-content-end">
        <input type="button" class="btn btn-sm btn-success mr-3" id="BtnEnregistrer" value="Sauvegarder le questionnaire" />
    </div>
    <div class="card">
        <div class="card-header">Création d'un questionnaire</div>
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-prop-tab" data-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop" aria-selected="true">Propriétés du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-questions-tab" data-toggle="tab" href="#nav-questions" role="tab" aria-controls="nav-questions" aria-selected="false">Questions du questionnaire</a>
                    <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false">Aperçu du questionnaire</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
                    <label for="titreTxtB">Titre du questionnaire</label>
                    <input id="titreTxtB" type="text" class="form-control" placeholder="Titre">
                    <label for="libelTxtB">Description du questionnaire</label>
                    <textarea class="form-control" placeholder="Description" name="descriptionTxtA" rows="5" id="descriptionTxtA"></textarea>
                    <input id="BtnValider" type="button" name="BtnValider" value="Créer" class="btn btn-primary right" />
                </div>
                <div class="tab-pane fade" id="nav-questions" role="tabpanel" aria-labelledby="nav-questions-tab">
                    <div class="row"> <div id="titreDiv" class="card-header text-center flex-fill">Validez les propriétés du questionnaire le titre apparaîtra ici</div></div>
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span>Type de question</span>&emsp;&emsp;&emsp;<span class="navbar-toggler-icon float-right"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                                    <ul class="navbar-nav flex-md-column flex-fill">
                                        <li id="BtnOuiNon" name="Btn1a10" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir entre oui et non</li>
                                        <li id="BtnOuiNonNsp" name="BtnOuiNonNsp" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir entre oui, non et Ne sais pas</li>
                                        <li id="BtnTxtC" name="BtnTxtC" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme de texte court</li>
                                        <li id="BtnTxtL" name="BtnTxtL" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme de texte long</li>
                                        <li id="BtnValNum" name="BtnValNum" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Répondre sous forme d'une valeur numérique</li>
                                        <li id="Btn4niv" name="Btn4niv" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Evaluer selon 4 niveaux de satisfaction</li>
                                        <li id="Btn1a10" name="Btn1a10" class="btn btn-light btn-sm nav-item" data-toggle="modal" data-target="#questionModal">Evaluer selon une échelle de 1 à 10</li>
                                        <li id="Btn1rep" name="Btn1rep" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir une seule réponse au sein d'un groupe de choix</li>
                                        <li id="Btn1repListe" name="Btn1repListe" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir une seule réponse au sein liste</li>
                                        <li id="BtnNrep" name="BtnNrep" class="btn btn-light btn-sm btn-block nav-item" data-toggle="modal" data-target="#questionModal">Choisir plusieurs réponses au sein d'un groupe de choix</li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-sm">
                            <ul id="sortable" class="navbar-nav flex-md-column flex-fill">
                                <li id="12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm btn-sm justify-content-sm-center">
                                                    <div class="d-inline float-left" id="intitule12Div">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                    <div class="d-inline float-right">
                                                        <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest1Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                        <i class="fas fa-arrows-alt ml-2"></i>
                                                        <i id="trash12Icon" class="fas fa-trash-alt ml-2 trash" data-toggle="modal" data-target="#supprModal"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="collapse" id="quest1Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule12TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="req" id="reqOui12Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="req" id="reqNon12Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input type="button" value="Ajouter un item" class="btn-sm" disabled />
                                                    </div>
                                                </div>

                                                <ul class="pl-0 mt-2" id="item12Ul">
                                                    <li class="form-inline justify-content-center w-75 mb-2"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /><input class="form-control d-inline ml-2" type="text" value="Oui" disabled /><button class="d-inline ml-2" disabled><i href="#" class="fas fa-trash-alt"></i></button></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div class="d-inline"><input class="form-control w-75" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="d-inline ml-2" disabled /></div><div class="d-inline"><input class="form-control w-75" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                                <textarea class="form-control" placeholder="Description" name="descriptionTxtA" rows="5" id="descriptionTxtA"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="2">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row justify-content-between align-items-center btn-sm">
                                                <div id="intitule112Div" class="align-self-end questIntitule">Question n°1 intitulé quel est votre couleur préférée ? ?</div>
                                                <div class="ml-auto align-self-start">
                                                    <i class="fa fa-chevron-up ml-3 rotate" data-toggle="collapse" data-target="#quest112Param" aria-expanded="false" aria-controls="collapseExample"></i>
                                                    <i class="fas fa-arrows-alt ml-2"></i>
                                                    <i data-index-number="12314" class="fas fa-trash-alt ml-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="collapse" id="quest112Param">
                                            <div class="card card-body">

                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Intitulé de la question :</div>
                                                    <div class="d-inline ml-2"><input class="form-control intituleTxtB" placeholder="Intitulé" type="text" id="intitule112TxtB" /></div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Réponse obligatoire : </div>
                                                    <div class="d-inline ml-2">
                                                        <div class="form-check-inline">
                                                            <label>
                                                                <input class="form-check-input" type="radio" name="options" id="reqOui112Radio" checked> Oui
                                                            </label>
                                                            <label>
                                                                <input class="form-check-input ml-5" type="radio" name="options" id="reqNon112Radio" disabled> Non
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Type de graphique :</div>
                                                    <div class="d-inline ml-2">
                                                        <select class="btn-sm">
                                                            <option selected value="1">Colonne</option>
                                                            <option value="2">Ligne</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 justify-content-center">
                                                    <div class="d-inline">Valeurs possibles :</div>
                                                    <div class="d-inline ml-2">
                                                        <input id="ajouter112Btn" type="button" value="Ajouter un item" class="btn-sm ajouter-item-radio" />
                                                    </div>
                                                </div>

                                                <ul class="list-inline pl-0 mt-2" id="item112Ul">
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Oui" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Non" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                    <li class="list-inline-item form-inline justify-content-center mb-2"><div class="d-inline"><input type="radio" name="item" id="option1" class="ml-2" disabled /></div><div class="d-inline"><input class="form-control" type="text" value="Ne sais pas" disabled /></div><div class="d-inline ml-2"><button disabled><i href="#" class="fas fa-trash-alt"></i></button></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <div id="ordre"><button id="ordreBtn"></button>   </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend id="formName">Form Name</legend>
                            <div id="previewQuestions">


                            </div>
                        </fieldset>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="questionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <label for="intituleTxtB">Intitulé de la question :</label>
                <input class="form-control" placeholder="Intitulé" type="text" id="intituleModalTxtB" />
            </div>
            <div class="modal-footer">
                <button id="modalIntituleBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="supprModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suppression de question</h4>
            </div>
            <div class="modal-body">
                <label for="intituleTxtB">Voulez-vous supprimer la question ?</label>
            </div>
            <div class="modal-footer">
                <button id="modalSupprBtn" type="button" class="btn btn-default" data-dismiss="modal">Supprimer</button>
                <button id="modalAnnulBtn" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="radios">Multiple Radios</label>
    <div class="col-md-4">
        <div class="radio">
            <label for="radios-0">
                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                Option one
            </label>
        </div>
        <div class="radio">
            <label for="radios-1">
                <input type="radio" name="radios" id="radios-1" value="2">
                Option two
            </label>
        </div>
    </div>
</div>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Inline Radios</label>
            <div class="col-md-4">
                <label class="radio-inline" for="radios-0">
                    <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                    1
                </label>
                <label class="radio-inline" for="radios-1">
                    <input type="radio" name="radios" id="radios-1" value="2">
                    2
                </label>
            </div>
        </div>

    </fieldset>
</form>



<script>

    $('#sortable').sortable();


    $(document.body).on('click', '.element', function (e) { });
    $(document.body).on('click', '.element', function (e) { });




    $(document.body).on('click', '.rotate', function () { $(this).toggleClass("down"); });

    $(document).ready(function () {


       // "use strict";
        $(document.body).on('click', '#ordreBtn', function () {
            alert($("#sortable").sortable('toArray'));
            C(productOrder);
        })

        var C = console.log;
        var nombreDeLi = $("#sortable").children().length;
        var numQuestion = 0;
        var codeQuestion;
        var type;
        var choixRequis;
        var ajoutSupprChoix;
        var questionnaire = {
            CodeProduitFormation: '',
            questionnaireId: '',
            TitreQuestionnaire: '',
            Description: '',
            DataJson: '',
            listQuestObj: ['']
        }
        $(document.body).on('click', '.ajout-radio', function () {

            let questionObj = new QuestionObj();
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            let userItem = new UserItem(codeQuestion)
            userItem.codeHtml = "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control item-txtb' id=" + userItem.Id + " type='text'/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>";
            questionObj = questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            let idUl = "#" + questionObj.itemUlId;
            $(".exemple").fadeOut(400, function () { $(this).remove(); });
            $(idUl).fadeIn(300, function () {
                $(this).append(userItem.codeHtml);
            });

            CreerItemPreview(questionObj, userItem);
        })
        $(document.body).on('keyup', '.item-txtb', function () {
            C("KeyUP");
            let questionObj = new QuestionObj();
            let intitule = '';
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            questionObj = questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            C(questionObj);
            var userItemId = $(this).attr("id");
            userItem = questionObj.listUserItems.find(c => c.Id === userItemId)
            C(userItem);
            lblPrev = "#Lbl" + userItem.IdPreview;
            userTxtB = "#" + userItem.Id;
            intitule = $(userTxtB).val();
            $(lblPrev).text('');
            $(lblPrev).append(intitule)
            userItem.Intitule = intitule;
            C(userItem);
        })

        $("#modalSupprBtn").click(function () {
            let questionObj = new QuestionObj();
            let divPosPrevId = '';
            let idLiQuestion = '';
            questionObj = questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            var removeIndex = questionnaire.listQuestObj.map(function (item) { return item.questionId; }).indexOf(codeQuestion);
            questionPreviewId = "questionPreview" + questionObj.questionId;
            idLiQuestion = "#" + questionObj.questionId;
            $(idLiQuestion).remove();
            C(questionObj.questionPreviewId);
            divPosPrevId = "#" + questionObj.divPosPrev;
            questionnaire.listQuestObj.splice(removeIndex, 1);
            $(divPosPrevId).remove();
            C(questionnaire.listQuestObj);
        })
        $(document.body).on('click', '.trash', function () {
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            C(codeQuestion);
        })
        $(document.body).on('click', '.requis', function (e) {
            let questionObj = new QuestionObj();
            let qpreview = '';
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            for (var i = 0; i < questionnaire.listQuestObj.length; i++) {
                if (questionnaire.listQuestObj[i].questionId == codeQuestion) {
                    questionObj = questionnaire.listQuestObj[i];
                    C(questionnaire.listQuestObj[i]);
                }
            }
            questionObj.requis = $(this).val() ;
            C("objet transmis", questionObj);
            CreerPreview(questionObj);
        })
        $(document.body).on('keyup', '.intituleTxtB', function () {
            let qpreview = '';
            let intituleBtn = '';
            let intitule = '';
            let intituleDivB = '';
            let questionObj = new QuestionObj();
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            questionObj = questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            intituleBtn = "#" + $(this).attr("id");
            intituleDivB = "#intitule" + codeQuestion + "Div";
            $(intituleDivB).html('');
            intitule = $(intituleBtn).val();
            $(intituleDivB).html(intitule);
            C(questionObj);
            C("Obj trouvé boucle :", questionObj);
            questionObj.intitule = intitule;
            C("Div preview :", qpreview);
            C("objet transmis", questionObj);
            CreerPreview(questionObj);
        })
        $(document.body).on('change', '.graphOption', function (e) {
            let questionObj = new QuestionObj();
            let value = '';
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            questionObj = questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            value = $(this).val();
            questionObj.graphique = value;
            C("obj graph =", questionObj.graphique, "valeur du control =", value);
            C("objet transmis",questionObj);
            CreerPreview(questionObj);
        })
        $("#BtnValider").click(function () {
            ////OBJET Quest
            let titre = '';
            let description = '';
            titre = $("#titreTxtB").val();
            description = $("#descriptionTxtA").val();
            $("#formName").html(titre);
            questionnaire.TitreQuestionnaire = titre;
            questionnaire.Description = description;
            questionnaire.CodeProduitFormation= @Model.CodeProduitFormation;
            $("#titreDiv").html(titre);
            CreerQuestionnaire(questionnaire);
            alert("Questionnaire " + titre + " créé.");
        })
        $(".ajouter-item-radio").click(function () {
            let idUl = '';
            let itemID = '';
            itemID = String(codeQuestion) + String(Math.floor((Math.random() * 100) + 1));
            codeQuestion = ExtraireCodeQuestion($(this).attr("id"));
            idUl = "#item" + codeQuestion + "Ul";
            //questionObj == questionnaire.listQuestObj.find(c => c.questionId === codeQuestion);
            item.itemId = itemID;
            item.typeItem = "radio";
            item.itemName = "item" + codeQuestion;
            item.itemTxtBId = "item" + itemID;
            item.itemUlId = idUl;
            questionObj.listItems.push(item);
            console.log(questionObj.listItems);
            $(idUl).append($("<li class='list-inline-item form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='ml-2'/></div><div class='d-inline'><input class='form - control' type='text' value='Oui'/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>"));

        })

        $("#Btn4niv").click(function () {
            type = "4niv";
            choixRequis = true;
            ajoutSupprChoix = false;
        })
        $("#BtnValNum").click(function () {
            type = "ValNum";
            choixRequis = true;
            ajoutSupprChoix = false;
        })
        $("#Btn1rep").click(function () {
            type = "1rep";
            choixRequis = true;
            ajoutSupprChoix = true;
        })
        $("#BtnTxtL").click(function () {
            type = "TxtL";
            choixRequis = true;
            ajoutSupprChoix = false;
        })
        $("#BtnTxtC").click(function () {
            type = "TxtC";
            choixRequis = true;
            ajoutSupprChoix = false;
        })
        $("#BtnOuiNonNsp").click(function () {
            type = "OuiNonNsp";
            choixRequis = false;
            ajoutSupprChoix = false;
        })
        $("#BtnOuiNon").click(function () {
            type = "OuiNon";
            choixRequis = false;
            ajoutSupprChoix = false;
        })
        $("#Btn1a10").click(function () {
            type  = "1a10";
            choixRequis = true;
            ajoutSupprChoix = false;
        })
        $("#modalIntituleBtn").click(function () {
            C(type);
            numQuestion += 1;
            var intitule = '';
            intitule = $("#intituleModalTxtB").val();
            codeQuestion = String(numQuestion) + String(nombreDeLi) + String(Math.floor((Math.random() * 100) + 1));
            let questionObj = new QuestionObj(type, choixRequis, ajoutSupprChoix, intitule, codeQuestion);
            C("Création questionObj 5 param :", questionObj);
            questionnaire.listQuestObj.push(questionObj);
            $("#intituleModalTxtB").val('');
            C("questionnaire après ajout question :", questionnaire.listQuestObj);
            CreerQuestion(questionObj);
            CreerPreview(questionObj);
        })
        function CreerItemPreview(questionObj, userItem) {
            C("CreerPreviewItem");
            let item = new Item(questionObj.questionId);
            if (questionObj.type == "1rep")
            {
                C("CreerPreviewItem 1Rep");
                item.Id = userItem.IdPreview;
                item.Lbl = "Lbl" + userItem.IdPreview;
                C(item.Lbl);
                $("#listItemRadio").append(item.codeHtml);

                userItem.itemPrev = item;
                C(userItem);
                if (questionObj.graphique == 1) {
                    item.codeHtml = "<div class='radio-inline mr-2'>" +
                        "<input type='radio' name=" + item.groupName + " id=" + item.Id + " class='mr-1'>" +
                        "<label id=" + item.Lbl + " for=" + item.Id + "></label></div > ";
                }
                else {
                    item.codeHtml = "<div class='col-md-4'><div class='radio'>" +
                        "<input type='radio' name=" + item.groupName + " id=" + item.Id + " class='mr-1'>" +
                        "<label id=" + item.Lbl + " for=" + item.Id + "></label></div></div> ";
                }
                    //if (questionObj.requis == "false") {

                    //}
                    //else {
                    //    item.codeHtml = "<div class='radio-inline mr-2'><input type='radio' name=" + item.groupName + " id=" + item.Id + " class='mr-1' required>" +
                    //        "<label id=" + item.Lbl + " for=" + item.Id + "></label></div > ";
                    //}
            }
            questionObj.listUserItems.push(userItem);
            $("#listItemRadio").append(item.codeHtml);
        }
        function CreerQuestion(questionObj) {
            C("objet reçu", questionObj);
            C("CreaQuest type : ", questionObj.type);
            if (questionObj.type == "ValNum") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<input id='textinput' name='textinput' type='text' class='form-control input-md'disabled>");


            }
            if (questionObj.type == "4niv") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<div class='row justify-content-center mt-2'>" +
                    "<label class='radio-inline mr-2' for='radio'>" +
                    "<input type='radio' id='radio' value='1' disabled>" +
                    "peu satisfait" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio2'>" +
                    "<input type='radio' id='radio2' value='1' disabled>" +
                    "moyennement satisfait" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio3'>" +
                    "<input type='radio' id='radio3' value='1' disabled>" +
                    "satisfait" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio4'>" +
                    "<input type='radio' id='radio4' value='1' disabled>" +
                    "très satisfait" +
                    "</label></div>");
            }
            if (questionObj.type == "1rep") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption'>" +
                    "<option selected value='1'>Colonne</option>" +
                    "<option value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm ajout-radio' id=" + questionObj.ajouterBtnId + " /></div></div>" +
                    "<ul class='pl-0 mt-2' id=" + questionObj.itemUlId + ">" +
                    "<li class='form-inline justify-content-center mb-2 exemple'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='item1' disabled/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2 exemple'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='item2' disabled/></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li></ul></div></div></div></li>");

            }
            if (questionObj.type == "TxtL") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div>" +
                    "<div class='row h-25'><textarea id='textinput' name='textinput' rows='3' class='form-control' disabled></textarea></div>");

            }
            if (questionObj.type == "OuiNon") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input' type='radio' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5' type='radio' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + " disabled> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption'>" +
                    "<option selected value='1'>Colonne</option>" +
                    "<option value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<ul class='pl-0 mt-2' id=" + questionObj.itemUlId + ">" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Oui' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Non' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li></ul></div></div></div></li>");
            }
            if (questionObj.type == "OuiNonNsp") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input' type='radio' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5' type='radio' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + " disabled> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId +" class='btn-sm graphOption'>" +
                    "<option selected value='1'>Colonne</option>" +
                    "<option value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<ul class='pl-0 mt-2' id=" + questionObj.itemUlId + ">" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Oui' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Non' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li>" +
                    "<li class='form-inline justify-content-center mb-2'><div class='d-inline'><input type='radio' name='item' id='option1' class='d-inline ml-2' disabled /></div><div width='50' class='d-inline'><input class='form-control' type='text' value='Ne sais pas' disabled /></div><div class='d-inline ml-2'><button disabled><i href='#' class='fas fa-trash-alt'></i></button></div></li></ul></div></div></div></li>");

            }
            if (questionObj.type == "1a10") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<div class='row justify-content-center mt-2'>" +
                    "<label class='radio-inline mr-2' for='radio'>" +
                    "<input type='radio' id='radio' value='1' disabled>" +
                    "1" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio2'>" +
                    "<input type='radio' id='radio2' value='1' disabled>" +
                    "2" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio3'>" +
                    "<input type='radio' id='radio3' value='1' disabled>" +
                    "3" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio4'>" +
                    "<input type='radio' id='radio4' value='1' disabled>" +
                    "4" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio5'>" +
                    "<input type='radio' id='radio5' value='1' checked='checked' disabled>" +
                    "5" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio6'>" +
                    "<input type='radio' id='radio6' value='1' disabled>" +
                    "6" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio7'>" +
                    "<input type='radio' id='radio7' value='1' disabled>" +
                    "7" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio8'>" +
                    "<input type='radio' id='radio8' value='1' disabled>" +
                    "8" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio9'>" +
                    "<input type='radio' id='radio9' value='1' disabled>" +
                    "9" +
                    "</label>" +
                    "<label class='radio-inline mr-2' for='radio10'>" +
                    "<input type='radio' id='radio10' value='1' disabled>" +
                    "10" +
                    "</label></div>");
            }
            if (questionObj.type == "TxtC") {
                $("#sortable").append("<li id=" + questionObj.questionId + "><div class='card'><div class='card-header'><div class='row justify-content-between align-items-center btn-sm'>" +
                    "<div class='align-self-end questIntitule' id=" + questionObj.intituleDivBId + ">" + questionObj.intitule + "</div>" +
                    "<div class='ml-auto align-self-start'>" +
                    "<i class='fa fa-chevron-up ml-3 rotate' data-toggle='collapse' data-target=" + questionObj.dataTarget + " aria-expanded='false' aria-controls='collapseExample'></i>" +
                    "<i class='fas fa-arrows-alt ml-2'></i>" +
                    "<i id=" + questionObj.trashIconId + " class='fas fa-trash-alt ml-2 trash' data-toggle='modal' data-target='#supprModal'></i></div></div></div>" +
                    "<div class='collapse' id=" + questionObj.TargetId + ">" +
                    "<div class='card card-body'>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Intitulé de la question :</div>" +
                    "<div class='d-inline ml-2'><input class='form-control intituleTxtB' placeholder='Intitulé' type='text' id=" + questionObj.intituleTxtBId + " /></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Réponse obligatoire : </div>" +
                    "<div class='d-inline ml-2'><div class='form-check-inline'><label>" +
                    "<input class='form-check-input requis' type='radio' value='true' name=" + questionObj.questionId + " id=" + questionObj.requisOuiRadioId + " checked> Oui</label>" +
                    "<label><input class='form-check-input ml-5 requis' type='radio' value='false' name=" + questionObj.questionId + " id=" + questionObj.requisNonRadioId + "> Non</label></div></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Type de graphique :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<select id=" + questionObj.graphiqueId + " class='btn-sm graphOption' disabled>" +
                    "<option value='1'>Colonne</option>" +
                    "<option selected value='2'>Ligne</option></select></div></div>" +
                    "<div class='row mt-2 justify-content-center'>" +
                    "<div class='d-inline'>Valeurs possibles :</div>" +
                    "<div class='d-inline ml-2'>" +
                    "<input type='button' value='Ajouter un item' class='btn-sm' disabled /></div></div>" +
                    "<input id='textinput' name='textinput' type='text' class='form-control input-md'disabled>");


            }
        }
        function CreerPreview(questionObj=null) {
            C("objet recup pour preview", questionObj);
            console.log("creer preview");
            C("questionPreviewId = ", questionObj.questionPreviewId);
            C("question Type = ", questionObj.type);
            C("question graphique = ", questionObj.graphique);
            C("question requis = ", questionObj.requis);
            var qPreview = "#" + questionObj.questionPreviewId;
            $(qPreview).remove();
            C("Div q preview", qPreview);
            var groupName;
            if (questionObj.type == "ValNum") {
                var itemTxtC = new Item();
                itemTxtC.Id = "TxtC" + codeQuestion;
                if (questionObj.requis == "false") {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemTxtC.Id + ">" + questionObj.intitule +
                        "<input id =" + itemTxtC.Id + " name ='textinput' type ='number' class='form-control input-md'>" +
                        "</label ></div >"
                }
                else {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemTxtC.Id + ">" + questionObj.intitule +
                        "<input id =" + itemTxtC.Id + " type ='number' class='form-control input-md' required>" +
                        "</label ></div >"
                }

            }
            if (questionObj.type == "1rep") {
                groupName = "radios" + questionObj.questionId;
                var itemExemple1 = new Item(questionObj.questionId);
                var itemExemple2 = new Item(questionObj.questionId);
                if (questionObj.graphique == 2) {
                    C("Graphique", questionObj.graphique)
                    if (questionObj.requis == "false") {
                        questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                            "<form class='form-horizontal'>"+
                            "<fieldset id=" + groupName + ">" +
                            "<label class='col-md-4 control-label' for=" + itemExemple1.groupName + ">" + questionObj.intitule + "</label>" +
                            "<div class='col-md-4' id='listItemRadio'>" +
                            "<div class='exemple'>" +
                            "<label class='radio-inline mr-2' for=" + itemExemple1.itemId + ">" +
                            "<input type='radio' name=" + itemExemple1.groupName + " id=" + itemExemple1.Id + " value='1'>" +
                            "choix 1" +
                            "</label>" +
                            "<label class='radio-inline mr-2' for=" + itemExemple2.itemId + ">" +
                            "<input type='radio' name=" + itemExemple2.groupName + " id=" + itemExemple2.Id + " value='1'>" +
                            "choix 2" +
                            "</label>" +
                            "</div></label></fieldset></form><div>";
                    }
                    else {
                        questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                            "<form class='form-horizontal'>" +
                            "<fieldset id=" + groupName + ">" +
                            "<label class='col-md-4 control-label' for=" + itemExemple1.groupName + ">" + questionObj.intitule + "</label>" +
                            "<div class='col-md-4' id='listItemRadio'>" +
                            "<div class='exemple'>" +
                            "<label class='radio-inline mr-2' for=" + itemExemple1.itemId + ">" +
                            "<input type='radio' name=" + itemExemple1.groupName + " id=" + itemExemple1.Id + " value='1' required>" +
                            "choix 1" +
                            "</label>" +
                            "<label class='radio-inline mr-2' for=" + itemExemple2.itemId + ">" +
                            "<input type='radio' name=" + itemExemple2.groupName + " id=" + itemExemple2.Id + " value='1'>" +
                            "choix 2" +
                            "</label>" +
                            "</div></label></fieldset></form><div>";
                    }
                }
                if (questionObj.graphique == 1) {
                    C("Graphique", questionObj.graphique)
                    if (questionObj.requis == "false") {
                        questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'><fieldset id=" + groupName + ">" +
                            "<label class='col-md-4 control-label' for=" + itemExemple1.groupName + ">" + questionObj.intitule + "</label>" +
                            "<div class='col-md-4'>" +
                            "<div class='exemple'>" +
                            "<div class='radio' id='listItemRadio'>" +
                            "<label class='radio mr-2' for=" + itemExemple1.Id + ">" +
                            "<input type='radio' name=" + itemExemple1.groupName + " id=" + itemExemple1.Id + " value='1'>" +
                            "1" +
                            "</label></div>" +
                            "<div class='radio'>" +
                            "<label class='radio mr-2' for=" + itemExemple2.Id + ">" +
                            "<input type='radio' name=" + itemExemple2.groupName + " id=" + itemExemple2.Id + " value='1'>" +
                            "choix 2" +
                            "</label></div>" +
                            "</div></div></fieldset>";
                    }
                    else {
                        questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'><fieldset id=" + groupName + ">" +
                            "<label class='col-md-4 control-label' for=" + itemExemple1.groupName + ">" + questionObj.intitule + "</label>" +
                            "<div class='col-md-4'>" +
                            "<div class='exemple'>" +
                            "<div class='radio' id='listItemRadio'>" +
                            "<label class='radio mr-2' for=" + itemExemple1.Id + ">" +
                            "<input type='radio' name=" + itemExemple1.groupName + " id=" + itemExemple1.Id + " value='1'>" +
                            "1" +
                            "</label></div>" +
                            "<div class='radio'>" +
                            "<label class='radio mr-2' for=" + itemExemple2.Id + ">" +
                            "<input type='radio' name=" + itemExemple2.groupName + " id=" + itemExemple2.Id + " value='1'>" +
                            "choix 2" +
                            "</label></div>" +
                            "</div></div></fieldset>";
                    }
                }

            }
            if (questionObj.type == "TxtL") {
                var itemTxtL = new Item();
                itemTxtL.Id = "TxtL" + codeQuestion;
                if (questionObj.requis == "false") {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class= control-label' for=" + itemTxtL.itemId + ">" + questionObj.intitule +
                        "<textarea  id =" + itemTxtL.Id + " rows='3' class='form-control'></textarea>" +
                        "</label >" +
                        "</div >"
                }
                else {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class=' control-label' for=" + itemTxtL.Id + ">" + questionObj.intitule +
                        "<textarea id =" + itemTxtL.Id + " rows='3' class='form-control' required></textarea>" +
                        "</label ></div >"
                }
            }
            if (questionObj.type == "TxtC") {
                var itemTxtC = new Item();
                itemTxtC.Id = "TxtC" + codeQuestion;
                if (questionObj.requis == "false") {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemTxtC.Id + ">" + questionObj.intitule +
                        "<input id =" + itemTxtC.Id + " name ='textinput' type ='text' class='form-control input-md'>" +
                        "</label ></div >"
                }
                else {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemTxtC.Id + ">" + questionObj.intitule +
                        "<input id =" + itemTxtC.Id + " type ='text' class='form-control input-md' required>" +
                        "</label ></div >"
                }

            }
            if (questionObj.type == "OuiNon") {
                let itemOui = new Item(questionObj.questionId);
                let itemNon = new Item(questionObj.questionId);
                C("if ouiNon preview");
                itemOui.Id = "Oui" + questionObj.questionId + String(Math.floor((Math.random() * 100) + 1));
                itemOui.itemName = questionObj.questionId+"-radio" ;
                itemNon.Id = "Non" + questionObj.questionId + String(Math.floor((Math.random() * 100) + 1));
                itemNon.itemName = questionObj.questionId + "-radio";
                questionObj.listItems = [''];
                questionObj.listItems.push(itemNon);
                questionObj.listItems.push(itemOui);
                C("avant le if", questionObj.graphique);
                if (questionObj.graphique == 2) {
                    C("graph = 2");
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + questionObj.questionId + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + itemOui.itemId + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.Id + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + itemNon.itemId + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.Id + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "</div>"
                }
                else if (questionObj.graphique = 1) {
                    C("graph = 1");
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + questionObj.questionId + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<div class='radio'>" +
                        "<label for=" + itemOui.Id + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.Id + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNon.Id + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.Id + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                }
            }
            if (questionObj.type == "OuiNonNsp")
            {
                let itemOui = new Item(questionObj.questionId);
                let itemNon = new Item(questionObj.questionId);
                var itemNeSaisPas = new Item(questionObj.questionId);
                itemOui.Id = "Oui" + questionObj.questionId;
                itemOui.itemName = questionObj.questionId + "-radio";
                itemNon.Id = "Non" + questionObj.questionId;
                itemNon.itemName = questionObj.questionId + "-radio" ;
                itemNeSaisPas.Id = "NeSaisPas" + questionObj.questionId;
                itemNeSaisPas.itemName = questionObj.questionId + "-radio";
                if (questionObj.graphique == 2) {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + questionObj.questionId + ">" + questionObj.intitule +"</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + itemOui.Id + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.Id + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + itemNon.Id + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.Id + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "<label class='radio-inline' for=" + itemNeSaisPas.Id + ">" +
                        "<input type='radio' name=" + itemNeSaisPas.itemName + " id=" + itemNeSaisPas.Id + " value='2'>" +
                        "Ne sais pas" +
                        "</label>" +
                        "</div>" +
                        "</div>";
                }
                else if (questionObj.graphique == 1) {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'>" +
                        "<label class='col-md-4 control-label' for=" + itemOui.Id + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<div class='radio'>"+
                        "<label for=" + itemOui.Id + ">" +
                        "<input type='radio' name=" + itemOui.itemName + " id=" + itemOui.Id + " value='1' checked='checked'>" +
                        "Oui" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNon.Id + ">" +
                        "<input type='radio' name=" + itemNon.itemName + " id=" + itemNon.Id + " value='2'>" +
                        "Non" +
                        "</label>" +
                        "</div>" +
                        "<div class='radio'>" +
                        "<label for=" + itemNeSaisPas.Id + ">" +
                        "<input type='radio' name=" + itemNeSaisPas.itemName + " id=" + itemNeSaisPas.Id + " value='2'>" +
                        "Ne sais pas" +
                        "</label>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                }
            }
            if (questionObj.type == "1a10")
            {
                var item1 = new Item(questionObj.questionId);
                var item2 = new Item(questionObj.questionId);
                var item3 = new Item(questionObj.questionId);
                var item4 = new Item(questionObj.questionId);
                var item5 = new Item(questionObj.questionId);
                var item6 = new Item(questionObj.questionId);
                var item7 = new Item(questionObj.questionId);
                var item8 = new Item(questionObj.questionId);
                var item9 = new Item(questionObj.questionId);
                var item10 = new Item(questionObj.questionId);
                groupName = "radios" + questionObj.questionId;
                questionObj.listItems = [''];
                questionObj.listItems.push(item1, item2, item3, item4, item5, item6, item7, item8, item9, item10);
                C(questionObj.listItems);
                C(questionObj.requis);
                if (questionObj.requis == "false") {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'><fieldset id=" + groupName + ">" +
                        "<label class='col-md-4 control-label' for=" + item1.groupName + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + item1.Id + ">" +
                        "<input type='radio' name=" + item1.groupName + " id=" + item1.Id + " value='1'>" +
                        "1" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item2.itemId + ">" +
                        "<input type='radio' name=" + item2.groupName + " id=" + item2.Id + " value='1'>" +
                        "2" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item3.itemId + ">" +
                        "<input type='radio' name=" + item3.groupName + " id=" + item3.Id + " value='1'>" +
                        "3" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item4.itemId + ">" +
                        "<input type='radio' name=" + item4.groupName + " id=" + item4.Id + " value='1'>" +
                        "4" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item5.itemId + ">" +
                        "<input type='radio' name=" + item5.groupName + " id=" + item5.Id + " value='1'>" +
                        "5" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item6.itemId + ">" +
                        "<input type='radio' name=" + item6.groupName + " id=" + item6.Id + " value='1'>" +
                        "6" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item7.itemId + ">" +
                        "<input type='radio' name=" + item7.groupName + " id=" + item7.Id + " value='1'>" +
                        "7" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item8.itemId + ">" +
                        "<input type='radio' name=" + item8.groupName + " id=" + item8.Id + " value='1'>" +
                        "8" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item9.itemId + ">" +
                        "<input type='radio' name=" + item9.groupName + " id=" + item9.Id + " value='1'>" +
                        "9" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item10.itemId + ">" +
                        "<input type='radio' name=" + item10.groupName + " id=" + item10.Id + " value='1'>" +
                        "10" +
                        "</label></div></fieldset></div>";


                }
                else  {
                    questionObj.codeHtml = "<div id=" + questionObj.questionPreviewId + " class='form-group'><fieldset id=" + groupName + ">" +
                        "<label class='col-md-4 control-label' for=" + groupName + ">" + questionObj.intitule + "</label>" +
                        "<div class='col-md-4'>" +
                        "<label class='radio-inline mr-2' for=" + item1.itemId + ">" +
                        "<input type='radio' name=" + item1.groupName + " id=" + item1.Id + " value='1' required>" +
                        "1" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item2.itemId + ">" +
                        "<input type='radio' name=" + item2.groupName + " id=" + item2.Id + " value='1'>" +
                        "2" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item3.itemId + ">" +
                        "<input type='radio' name=" + item3.groupName + " id=" + item3.Id + " value='1'>" +
                        "3" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item4.itemId + ">" +
                        "<input type='radio' name=" + item4.groupName + " id=" + item4.Id + " value='1'>" +
                        "4" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item5.itemId + ">" +
                        "<input type='radio' name=" + item5.groupName + " id=" + item5.Id + " value='1'>" +
                        "5" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item6.itemId + ">" +
                        "<input type='radio' name=" + item6.groupName + " id=" + item6.Id + " value='1'>" +
                        "6" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item7.itemId + ">" +
                        "<input type='radio' name=" + item7.groupName + " id=" + item7.Id + " value='1'>" +
                        "7" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item8.itemId + ">" +
                        "<input type='radio' name=" + item8.groupName + " id=" + item8.Id + " value='1'>" +
                        "8" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item9.itemId + ">" +
                        "<input type='radio' name=" + item9.groupName + " id=" + item9.Id + " value='1'>" +
                        "9" +
                        "</label>" +
                        "<label class='radio-inline mr-2' for=" + item10.itemId + ">" +
                        "<input type='radio' name=" + item10.groupName + " id=" + item10.Id + " value='1'>" +
                        "10" +
                        "</label></div></fieldset></div>";


                }
            }
            C("avant append")
            var divPosPrevId = "#" + questionObj.divPosPrev;
            C("Id de la balise de position", divPosPrevId);
            C($(divPosPrevId).children().length);
            C($(divPosPrevId));
            $(document.body).ready(function () {
                C("dans le test!");
                C($(divPosPrevId));
                if ($(divPosPrevId).length==0) {
                    C("la balise de position n'existe pas.");
                    let code = "<div id=" + questionObj.divPosPrev + ">" + questionObj.codeHtml + "</div>";
                    C(code);
                    $("#previewQuestions").append(code);

                    return;
                }
                else if ($(divPosPrevId).length != 0) {
                    C("la balise de position existe.");
                    $(divPosPrevId).append(questionObj.codeHtml);
                }
            });

        }
        function CreerQuestionnaire(questionnaire) {
            let questionnaireJson = JSON.stringify(questionnaire);
            C(questionnaireJson);
        $.ajax({
                url: '@Url.Action("CreerQuestionnaire", "OPS")',
            data: { "query": questionnaireJson },
                type: 'POST',
            dataType: 'application/json',
                success: function (response) {
                    if (response.data != null) {

                    }
                    else {

                    }
                },
                error: function (xhr, status, error) {

                }
        });

        }
        function AddQuestionObj(questionObj) {
            let QuestionObjJson = JSON.stringify(questionObj);
        $.ajax({
                url: '@Url.Action("AddQuestionObj", "OPS")',
            data: { "query": QuestionObjJson },
                type: 'POST',
            dataType: 'application/json',
                success: function (response) {
                    if (response.data != null) {

                    }
                    else {

                    }
                },
                error: function (xhr, status, error) {

                }
        });

        }
        function GetQuestionObj(codeQuestion) {
            $.ajax({
                url: '@Url.Action("GetQuestionObj", "OPS")',
                data: { "query": codeQuestion },
                type: 'POST',
            dataType: 'application/json',
                success: function (response) {
                    if (response.data != null) {
                        questionObj = response.data;
                    }
                    else {

                    }
                },
                error: function (xhr, status, error) {

                }
            });
        }
        function MakeQuestionObj() {
            class QuestionObj {
                constructor() {
                    this.type = '';
                    this.sousType = '';
                    this.choixRequis = '';
                    this.questionId = null;
                    this.intitule = '';
                    this.dataTarget = '';
                    this.TargetId = '';
                    this.intituleTxtBId = '';
                    this.intituleDivBId = '';
                    this.requisOuiRadioId = '';
                    this.requisNonRadioId = '';
                    this.requisRadioName = '';
                    this.requis = '';
                    this.ddlId = '';
                    this.ajoutSupprChoix = '';
                    this.ajouterBtnId = '';
                    this.supprBtnId = '';
                    this.trashBtnId = '';
                    this.graphique = '';
                    this.graphiqueLigneId = '';
                    this.graphiqueColId = '';
                    this.codeHtml = '';
                    this.questionPreviewId = '';
                    this.listItems = [''];
                }
            }
            return QuestionObj;
        }
        function QuestionObj(type, choixRequis, ajoutSupprChoix, intitule, codeQuestion) {
            this.type = type;
            this.sousType = '';
            this.choixRequis = choixRequis;
            this.questionId = codeQuestion;
            this.intitule = intitule;
            this.dataTarget = "#quest" + codeQuestion + "Param";
            this.TargetId = "quest" + codeQuestion + "Param";
            this.intituleTxtBId = "intitule" + codeQuestion + "TxtB";
            this.intituleDivBId = "intitule" + codeQuestion + "Div";
            this.requisOuiRadioId = "reqOui" + codeQuestion + "Radio";
            this.requisNonRadioId = "reqNon" + codeQuestion + "Radio";
            this.requisRadioName = "ouiNon" + codeQuestion;
            this.requis = '';
            this.ddlId = "item" + codeQuestion + "Ddl";
            this.ajoutSupprChoix = ajoutSupprChoix;
            this.ajouterBtnId = "ajouter" + codeQuestion + "Btn";
            this.supprBtnId = "suppr" + codeQuestion + "Btn";
            this.trashIconId = "trash" + codeQuestion + "Icon";
            this.graphique = 1;
            this.graphiqueId = "graph" + codeQuestion + "div";
            this.questionPreviewId = "questionPreview" + codeQuestion;
            this.graphiqueLigneId = '';
            this.graphiqueColId = '';
            this.codeHtml = '';
            this.divPosPrev = "posPrev" + codeQuestion;
            this.itemUlId = "item" + codeQuestion + "Ul";
            this.itemLiId = "item" + codeQuestion;
            this.listItems = [''];
            this.listUserItems = [''];
        }
        function Item(codeQuestion) {
            this.Id = codeQuestion + "item" + String(Math.floor((Math.random() * 100) + 1));
            this.Lbl = '';
            this.Name = '';
            this.Intitule = '';
            this.groupName = "radios" + codeQuestion;
            this.codeHtml = '';
        }
        function UserItem(codeQuestion) {
            this.Id = codeQuestion + "userItem" +  String(Math.floor((Math.random() * 100) + 1));
            this.IdPreview = "itemPrev"+ codeQuestion  + String(Math.floor((Math.random() * 100) + 1));
            this.type = '';
            this.TxtBId = '';
            this.UlId = '';
            this.Intitule = '';
            this.codeHtml = '';
            this.itemName = '';
            this.itemPrev = {};
        }
        function ExtraireCodeQuestion(Id = '') {

        if (Id.match(/(\d+)/)) {
            var code = '';
            code = Id.match(/(\d+)/);
            return code[0];
        }
        else {

            return false;
        }
        }
     });
    //$(function () {
    //    $('#sortable').sortable({
    //        update: function (event, ui) {
    //            var productOrder = $(this).sortable('toArray').toString();
    //            $("#ordre").text(productOrder);
    //        }
    //    });
    //});

    //$('.drag').draggable({
    //    containment: '#limitation',
    //    snap: '.draggable',
    //    revert: true
    //});
    //$('.drop').droppable();

</script>
